.month {
  color: black;
  border: 2px solid #e1e1e1;
  box-shadow: 3px 3px grey;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 8vh;
  border-radius: 10px;
}
.datePick {
  text-align: left;
  padding-left: 6vh;
}
